In [1]:
from fake_tables import *

In [2]:
user_table = User()
print(user_table.shape)
print(user_table.columns)
print(user_table.dtypes)

(40000, 7)
Index(['User_Id', 'User_Email', 'User_Encrypted_Pass', 'User_Region',
       'Created At', 'Is_Subscribed', 'Subscription_id'],
      dtype='object')
User_Id                  int64
User_Email              object
User_Encrypted_Pass     object
User_Region             object
Created At              object
Is_Subscribed           object
Subscription_id        float64
dtype: object

In [3]:
user_table.head()

,User_Id,User_Email,User_Encrypted_Pass,User_Region,Created At,Is_Subscribed,Subscription_id
0,1,begf@gmail.com,56c668fbac91d1468a0b03eccff848ad,madckqotaa lhtyonh,09/09/2022,yes,1.0
1,2,gwnfchp@gmail.com,2e2f98dbccee141f64982aa8a428ca23,ntntbjulfx atpfgb voewltafi,13/02/2022,no,NaN
2,3,gulrv@gmail.com,63416f0d00835f52f07675f97c41baea,fgwn,16/04/2023,yes,2.0
3,4,kjagt@gmail.com,7c499f3422c6858695cdd77a0ee06c1a,uemvoewl,28/11/2023,no,NaN
4,5,dttcmadc@gmail.com,69dbac025f43735843633510f8de82db,bzkswiorzpbx vjyutt xoefahhyx,08/07/2023,yes,3.0

In [4]:
album_table = Album()
print(album_table.shape)
print(album_table.columns)
print(album_table.dtypes)
print(album_table.isna().sum())
## album datetime release date

(5000, 3)
Index(['Album_Id', 'Album_Title', 'Album_Release_Date'], dtype='object')
Album_Id               int64
Album_Title           object
Album_Release_Date    object
dtype: object
Album_Id              0
Album_Title           0
Album_Release_Date    0
dtype: int64

In [5]:
album_table.head()

   Album_Id Album_Title Album_Release_Date
0         1        begf         09/09/2022
1         2       gwnfc         13/02/2022
2         3      eodgul         16/04/2023
3         4      rvkjag         28/11/2023
4         5      jdttcm         08/07/2023

In [6]:
tracks_table = tracks()
print(tracks_table.shape)
print(tracks_table.columns)
print(tracks_table.dtypes)


## convert it to datetime format (duration)

(50000, 5)
Index(['Track_Id', 'Track_Title', 'Track_Genre', 'Track_Duration_Minutes',
       'Track_Duration_Seconds'],
      dtype='object')
Track_Id                   int64
Track_Title               object
Track_Genre               object
Track_Duration_Minutes     int64
Track_Duration_Seconds     int64
dtype: object

In [7]:
tracks_table.head()

,Track_Id,Track_Title,Track_Genre,Track_Duration_Minutes,Track_Duration_Seconds
0,1,begfgw,pfux espkriol hjb,3,19
1,2,nfchpeo,aoun exqo qrop,2,13
2,3,gulrvk,dck,2,53
3,4,jagtcp,alht,2,32
4,5,tcmadckqota,dg gtcpj dtt,4,57

In [8]:
artist_table = artist()
print(artist_table.shape)
print(artist_table.columns)
print(artist_table.dtypes)

(500, 2)
Index(['Artist_Id', 'Artist_Name'], dtype='object')
Artist_Id       int64
Artist_Name    object
dtype: object

In [9]:
artist_table.head()

   Artist_Id Artist_Name
0          1       begfg
1          2      wnfchp
2          3       gulrv
3          4       kjagt
4          5     dttcmad

In [10]:
# def generate_follows_table(artist_table, user_table, mean_following, std_dev_following):
#     follows_data = []
#     for user_id in user_table['User_Id']:
#         num_following = int(np.random.normal(mean_following, std_dev_following))
#         if num_following < 1:
#             num_following = 1
#         artists_followed = np.random.choice(artist_table['Artist_Id'], num_following, replace=True)
#         for artist_id in artists_followed:
#             follows_data.append({'User_Id': user_id, 'Artist_Id': artist_id})

#     follows_table = pd.DataFrame(follows_data)
#     return follows_table

# # Example usage
# artist_table = pd.DataFrame({'Artist_Id': np.arange(1, 501), 'Artist_Name': ['Artist' + str(i) for i in range(1, 501)]})
# user_table = pd.DataFrame({'User_Id': np.arange(1, 40001), 'User_Email': [f'user{i}@example.com' for i in range(1, 40001)]})

# follows_rel_table = generate_follows_table(artist_table, user_table, 15, 5)
# follows_rel_table.head(10)

In [11]:
# follows_rel_table.shape

In [12]:
# follows_rel_table.iloc[11:20:]

In [13]:
# # Generating the relationship table
# creates__rel_table = pd.DataFrame({
#     'created_by': np.random.choice(artist_table['Artist_Id'], 5000),
#     'album_created': album_table['Album_Id']
# })

In [14]:
# contains_rel_table = pd.DataFrame({
#     'album_id': np.random.choice(album_table['Album_Id'], 5000),
#     'track_id': np.arange(1, 5000 + 1)
# })

In [15]:
user_playlist_table = user_playlist()
print(user_playlist_table.shape)
print(user_playlist_table.columns)
print(user_playlist_table.dtypes)

(10000, 4)
Index(['User_Playlist_Id', 'Tite', 'public/private', 'track/podcast'], dtype='object')
User_Playlist_Id     int64
Tite                object
public/private      object
track/podcast       object
dtype: object

In [16]:
user_playlist_table.head()

   User_Playlist_Id           Tite public/private track/podcast
0                 1    begfgwnfchp         public       podcast
1                 2   eodgulrvkjag        private       podcast
2                 3  jdttcmadckqot         public         track
3                 4    aalhtyonhee        private       podcast
4                 5  ntntbjulfxatp        private       podcast

In [17]:
podcast_table = podcast()
print(podcast_table.shape)
print(podcast_table.columns)
print(podcast_table.dtypes)

podcast_table.head()

(2004, 5)
Index(['Podcast Id', 'Podcast Title', 'Episode Number', 'Episode Date',
       'Host Name'],
      dtype='object')
Podcast Id         int64
Podcast Title     object
Episode Number     int64
Episode Date      object
Host Name         object
dtype: object

,Podcast Id,Podcast Title,Episode Number,Episode Date,Host Name
0,1,exmusitojfozotrx ipjaeowmtij,1,22/04/2018,beg fgwnfc
1,2,exmusitojfozotrx ipjaeowmtij,2,29/04/2018,beg fgwnfc
2,3,exmusitojfozotrx ipjaeowmtij,3,06/05/2018,beg fgwnfc
3,4,exmusitojfozotrx ipjaeowmtij,4,13/05/2018,beg fgwnfc
4,5,exmusitojfozotrx ipjaeowmtij,5,20/05/2018,beg fgwnfc

In [18]:
premium_subscription_table = premium_subscription_df()
print(premium_subscription_table.shape)
print(premium_subscription_table.columns)
print(premium_subscription_table.dtypes)

(10000, 4)
Index(['Subscriber ID', 'Start Date', 'End Date', 'Canceled or Not'], dtype='object')
Subscriber ID               int64
Start Date         datetime64[ns]
End Date           datetime64[ns]
Canceled or Not            object
dtype: object

In [19]:
premium_subscription_table.isna().sum()

Subscriber ID      0
Start Date         0
End Date           0
Canceled or Not    0
dtype: int64

In [20]:
premium_subscription_table.head()

   Subscriber ID Start Date   End Date Canceled or Not
0              1 2018-04-21 2099-01-01           renew
1              2 2018-05-14 2099-01-01           renew
2              3 2018-03-13 2099-01-01           renew
3              4 2018-08-19 2099-01-01           renew
4              5 2018-03-13 2099-01-01           renew

In [21]:
transaction_table = transaction()
print(transaction_table.shape)
print(transaction_table.columns)
print(transaction_table.dtypes)

(426392, 3)
Index(['Subscriber ID', 'Payment Method', 'Transaction Date'], dtype='object')
Subscriber ID                int64
Payment Method              object
Transaction Date    datetime64[ns]
dtype: object

In [22]:
transaction_table.isna().sum()

Subscriber ID       0
Payment Method      0
Transaction Date    0
dtype: int64

In [23]:
transaction_table.head()

   Subscriber ID Payment Method Transaction Date
0              1     Debit Card       2018-04-21
1              1    Credit Card       2018-05-21
2              1    Credit Card       2018-06-21
3              1    Credit Card       2018-07-21
4              1    Credit Card       2018-08-21

In [24]:
# user_table
# (40000, 6)
# Index(['User_Id', 'User_Email', 'User_Encrypted_Pass', 'User_Region',
#        'Is_Subscribed', 'Subscription_id'],
#       dtype='object')

# album_table
# (5000, 3)
# Index(['Album_Id', 'Album_Title', 'Album_Release_Date'], dtype='object')

# tracks_table
# (50000, 4)
# Index(['Track_Id', 'Track_Title', 'Track_Duration', 'Track_Genre'], dtype='object')

# artists_table
# (500, 2)
# Index(['Artist_Id', 'Artist_Name'], dtype='object')

# user_playlist_table
# (10000, 3)
# Index(['Tite', 'public/private', 'track/podcast'], dtype='object')

# podcast_table
# (2269, 4)
# Index(['Podcast Title', 'Episode Number', 'Episode Date', 'Host Name'], dtype='object')

# premium_subscription_table
# (10000, 4)
# Index(['Subscriber ID', 'Start Date', 'End Date', 'Canceled or Not'], dtype='object')


# they are all 

# stop

NameError: name 'stop' is not defined

In [27]:
# Create an Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter('group_project.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet
user_table.to_excel(writer, sheet_name='User', index=False)
artist_table.to_excel(writer, sheet_name='Artist', index=False)
album_table.to_excel(writer, sheet_name='Album', index=False)
tracks_table.to_excel(writer, sheet_name='Tracks', index=False)
podcast_table.to_excel(writer, sheet_name='Podcasts', index=False)
user_playlist_table.to_excel(writer, sheet_name='User Playlist', index=False)
premium_subscription_table.to_excel(writer, sheet_name='Premium Subscription', index=False)
transaction_table.to_excel(writer, sheet_name='Transactions', index=False)

# Save the result
writer.close()